.form {
    background-color: #000;
    font-family: 'Oswald', sans-serif;
    width: fit-content; 
    padding: 24px;
    height: fit-content;
    border-radius: 3px;
    margin-left: auto; 
    margin-top: auto;
    margin-right: 7rem;
    text-transform: uppercase;
    margin-top: 6rem;
    border: solid 1px #333;
}

#head {
    color: #fff;
    padding-left: 16px;
    font-weight: 700;
    font-size: 20px;
}

#input {
    display: block;
    outline: none;
    margin: 16px;
    padding: 12px;
    border-radius: 3px;
    border: 0;
    width: 315px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff; 
    
}

#input:focus {
    background-color: rgb(214, 205, 205);
}

#select {
    display: block;
    outline: none;
    margin: 16px;
    padding: 12px;
    border-radius: 3px;
    border: 0;
    width: 340px;
    background-color: #fff; 
}

#submit {
    margin: 0 1rem;
    width: 80px;
    padding: 8px;
    background-color: rgb(31, 114, 209);
    color: #fff;
    border: none;
    border-radius: 3px;
}
